*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

section {
  width: 100%;
  padding: 30px;
  background: #f5f7fa;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 columns */
  gap: 25px;
  box-sizing: border-box;
  
}

section main {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: 0.7s;
}

section main:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

section main img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

section main h2 {
  color: #1e3a8a;
  margin: 10px 0;
}

section main h3 {
  color: #333;
}

section main p {
  margin: 5px 0;
}

